<div class="header pb-6">
  <div class="container-fluid" style="height: 60px;">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home" routerLink="/search/quick-search"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> Master </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Department
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-tab-view">
  <p-tabView>
    <!-- Department Section starts -->
    <p-tabPanel header="Department" [selected]="true">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card adjust">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <h3 class="mb-0">All Department</h3>
                <a
                  class="btn btn-sm btn-neutral"
                  (click)="addBranch(BranchFormPopup)"
                  >Add Department</a
                >
              </div>

              <div class="dataTables_wrapper checklist-table w-115">
                <p-table
                  [paginator]="true"
                  [rows]="10"
                  [value]="formattedData"
                  [autoLayout]="true"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10, 25, 50, 100]"
                  [(first)]="first"
                  (onPage)="paginate($event)"
                  [loading]="loading"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                  <ng-template pTemplate="caption">
                    <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      placeholder="Search records"
                      (input)="searchTable($event)"
                      class="global-search"
                    />
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        *ngFor="let col of headerList; let i = index"
                        [ngStyle]="i == 0 && { width: '5%' }"
                      >
                        {{ col.header }}
                        <p-sortIcon
                          *ngIf="i == 10"
                          [field]="col.field"
                        ></p-sortIcon>
                      </th>
                      <th style="width: 10%">ACTION</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                    <tr>
                      <td *ngFor="let col of headerList">
                        {{ car[col.field] }}
                      </td>
                      <!-- ------------------------------ -->
                      <td>
                        <button
                          type="button"
                          style="padding: 0 0 5px 4px"
                          class="btn btn-icon btn-icon-only"
                          (click)="editBranch(BranchFormPopup, car)"
                        >
                          <span class="btn-inner--icon"
                            ><i class="fa fa-pen"></i
                          ></span>
                        </button>
                        <button
                          type="button"
                          style="padding: 0 0 5px 4px"
                          class="btn btn-icon btn-icon-only btn-danger"
                          (click)="deleteDepartment(car)"
                        >
                          <span class="btn-inner--icon"
                            ><i class="fa fa-trash"></i
                          ></span>
                        </button>
                      </td>
                      <!-- ---------------------------------------------- -->
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Department Section ends -->

    <!-- Department Mapping Section starts -->
    <p-tabPanel header="Department Mapping" [selected]="false">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card adjust">
              <div
                class="card-header d-flex justify-content-between align-items-center"
              >
                <h3 class="mb-0">Department Mappings</h3>
                <a
                  class="btn btn-sm btn-neutral"
                  (click)="addBranchMapping(BranchMappingFormPopup)"
                >
                  Add Department Mapping</a
                >
              </div>
              <div class="dataTables_wrapper checklist-table w-100">
                <p-table
                  [paginator]="true"
                  [rows]="10"
                  [value]="formattedData1"
                  [autoLayout]="true"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10, 25, 50, 100]"
                  [(first)]="first1"
                  (onPage)="paginate($event)"
                  [loading]="loading"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                  <ng-template pTemplate="caption">
                    <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      placeholder="Search records"
                      (input)="searchTable1($event)"
                      class="global-search"
                    />
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        *ngFor="let col of headerList1; let i = index"
                        [ngStyle]="i == 0 && { width: '5%' }"
                      >
                        {{ col.header }}
                        <p-sortIcon
                          *ngIf="i == 10"
                          [field]="col.field"
                        ></p-sortIcon>
                      </th>
                      <th style="width: 10%">ACTION</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                    <tr>
                      <td *ngFor="let col of headerList1">
                        {{ car[col.field] }}
                      </td>
                      <td>
                        <button
                          type="button"
                          style="padding: 0 0 5px 4px"
                          class="btn btn-icon btn-icon-only"
                          (click)="
                            editBranchMapping(BranchMappingFormPopup, car)
                          "
                        >
                          <span class="btn-inner--icon"
                            ><i class="fa fa-pen"></i
                          ></span>
                        </button>
                        <button
                          type="button"
                          style="padding: 0 0 5px 4px"
                          class="btn btn-icon btn-icon-only btn-danger"
                          (click)="deleteDepartmentMapping(car)"
                        >
                          <span class="btn-inner--icon"
                            ><i class="fa fa-trash"></i
                          ></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <!-- Department Mapping Section Ends -->
  </p-tabView>
</div>

<ng-template #BranchFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">
            {{ isEditMode ? "Update Department" : "Add Department" }}
          </h3>
        </div>

        <div class="card-body">
          <form
            [formGroup]="AddBranchForm"
            (ngSubmit)="isEditMode ? onSubmitDepartment() : onSubmit()"
          >
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="Branch">
                  Department Name
                </label>
                <input
                  class="form-control"
                  id="Department Name"
                  formControlName="DepartmentName"
                  placeholder="Name"
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      FormControls['DepartmentName'].invalid &&
                      (FormControls['DepartmentName'].touched || submitted)
                  }"
                />
                <div
                  *ngIf="
                    FormControls['DepartmentName'].invalid &&
                    (FormControls['DepartmentName'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="FormControls['DepartmentName'].hasError('required')"
                  >
                    *Department Name is required.
                  </div>
                  <div
                    *ngIf="
                      FormControls['DepartmentName'].hasError('whitespace')
                    "
                  >
                    * Department Name cannot be blank or just spaces.
                  </div>
                  <div
                    *ngIf="
                      FormControls['DepartmentName'].hasError('onlyNumber')
                    "
                  >
                    * Document Type cannot be only numbers.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12 mb-3">
                <label class="form-control-label" for="Branch">
                  Department Code
                </label>
                <input
                  class="form-control"
                  formControlName="DepartmentCode"
                  placeholder="Department Code"
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      FormControls['DepartmentCode'].invalid &&
                      (FormControls['DepartmentCode'].touched || submitted)
                  }"
                />
                <div
                  *ngIf="
                    FormControls['DepartmentCode'].invalid &&
                    (FormControls['DepartmentCode'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="FormControls['DepartmentCode'].hasError('required')"
                  >
                    * Department Code is required.
                  </div>
                  <div
                    *ngIf="
                      FormControls['DepartmentCode'].hasError('whitespace')
                    "
                  >
                    * Department Code cannot be blank or just spaces.
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="AddBranchForm.invalid"
            >
              Submit
            </button>
            <button type="button" class="btn btn-warning" (click)="OnReset()">
              Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #BranchMappingFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card">
        <div class="card-header">
           <h3 class="mb-0">
            {{ isEditMapPopup ? "Update Department Mapping" : "Add Department Mapping" }}
          </h3>
        </div>

        <div class="card-body">
          <form
            class="needs-validation"
            [formGroup]="AddBranchMappingForm"
            (ngSubmit)="onSubmit1()"
            novalidate
          >
            <!-- User Dropdown -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="UserID">User</label>
                <select
                  class="form-select"
                  formControlName="UserID"
                  id="UserID"
                  (change)="getBranchForUser($event.target.value)"
                >
               <option [ngValue]="null" disabled selected>--Select User--</option>
                  <option *ngFor="let _User of _UserL" [value]="_User.id">
                    {{ _User.userid }}
                  </option>
                </select>
                <div
                  *ngIf="
                    AddBranchMappingForm.get('UserID')?.touched &&
                    AddBranchMappingForm.get('UserID')?.invalid
                  "
                  class="text-danger"
                >
                  User is required.
                </div>
              </div>
            </div>

            <!-- Approval Radio Buttons -->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label class="form-control-label d-block" for="approvalYes"
                  >Approval</label
                >

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="approval"
                    id="approvalYes"
                    value="yes"
                    formControlName="approval"
                  />
                  <label class="form-check-label" for="approvalYes">Yes</label>
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="approval"
                    id="approvalNo"
                    value="no"
                    formControlName="approval"
                  />
                  <label class="form-check-label" for="approvalNo">No</label>
                </div>

                <div
                  *ngIf="
                    AddBranchMappingForm.get('approval')?.touched &&
                    AddBranchMappingForm.get('approval')?.invalid
                  "
                  class="text-danger mt-1"
                >
                  Approval is required.
                </div>
              </div>
            </div>

            <!-- Departments Selection -->
            <div class="form-group">
              <label class="form-control-label mb-1"
                >Select Department(s)</label
              >

              <!-- Select All -->
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="selectAllDepartments"
                  [checked]="isAllSelected"
                  (change)="toggleSelectAll($event)"
                />
                <label class="form-check-label" for="selectAllDepartments"
                  >Select All</label
                >
              </div>

              <!-- Department Checkboxes -->
              <div
                style="
                  max-height: 200px;
                  overflow-y: auto;
                  border: 1px solid #ccc;
                  padding: 8px;
                  border-radius: 4px;
                  margin-top: 10px;
                "
              >
                <div class="form-check" *ngFor="let dept of departmentList">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="dept.Id"
                    [id]="'dept_' + dept.Id"
                    (change)="onCheckboxChange($event)"
                    [checked]="isChecked(dept.Id)"
                  />
                  <label class="form-check-label" [for]="'dept_' + dept.Id">
                    {{ dept.DepartmentName }}
                  </label>
                </div>
              </div>

              <div
                *ngIf="
                  AddBranchMappingForm.get('departments')?.touched &&
                  AddBranchMappingForm.get('departments')?.errors?.required
                "
                class="text-danger mt-1"
              >
                Please select at least one department.
              </div>
            </div>

            <!-- Buttons -->
            <div class="mt-3">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="AddBranchMappingForm.invalid"
              >
                Submit
              </button>
              <button type="button" class="btn btn-warning" (click)="OnReset()">
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<style>
  .custom-tab-view {
    width: 95% !important;
    margin-left: 15px;
    margin-top: -70px;
  }
  .adjust {
    width: 93vw !important;
    margin-left: -15px;
  }
</style>
